<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">
    {% block css %}{% endblock %}
</head>
<body class="{% block bodyClasses %}{% endblock %}">
    <div id="message" style="display: none;"></div>
    <nav id="top-banner">
        <div class="wrap">
            <div class="logo left" id="top-logo">
                <a href="/">ReadingNet</a>
            </div>
            <ul class="nav-links right">
                <li id="browse">Browse</li>
                <li id="shopping_cart">Shopping Cart</li>
            </ul>
        </div>
    </nav>

    <div id="main-content" class="{% block mainContentClasses %}{% endblock %}">
        <div class="wrap">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>