<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">
    {% block css %}{% endblock %}
</head>
<body>
    <nav id="top-banner">
        <div class="wrap">
            <div class="logo left" id="top-logo">
                <h1>readingNET</h1>
                <h2>start browsing today</h2>
            </div>
            <ul class="nav-links right">
                <li id="browse">Browse</li>
            </ul>
        </div>
    </nav>

    <div id="base-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>