{% extends "base.html" %}
{% block content %}

<form action="/add_new_donor" method="POST" class="volinputs">
	<h3 class="client"> Purchase a book </h3>
	<ul class="inputs">
		<li>
			<div class="title"> Donor ID </div>
			<input type="text" name="donorID" id="newDonor_DonorID" placeholder="Donor ID">
		</li>
		<li>
			<div class="title">First Name </div>
			<input type="text" name="firstName" id="newDonor_FirstName" placeholder="First Name">
		</li>
		<li>
			<div class="title">Last Name </div>
			<input type="text" name="lastName" id="newDonor_LastName" placeholder="Last Name">
		</li>
		<li>
			<div class="title">Date of Birth </div>
			<input type="text" name="DOB" id="newDonor_DOB" placeholder="Date of Birth">
		</li>
		<li>
			<div class="title">Gender </div>
			<input type="text" name="gender" id="newDonor_Gender" placeholder="Gender">
		</li>
		<li>
			<div class="title"> Phone Number</div>
			<input type="text" name="phoneNum" id="newDonor_PhoneNum" placeholder="Phone Number">
		</li>
		<li>
			<div class="title">Email Address</div>
			<input type="text" name="email" id="newDonor_Email" placeholder="Email Address">
		</li>
		<li>
			<div class="title">Street Address </div>
			<input type="text" name="streetAddress" id="newDonor_StreetAddress" placeholder="Street Address">
		</li>
		<li>
			<div class="title">City</div>
			<input type="text" name="city" id="newDonor_City" placeholder="City">
		</li>
		<li>
			<div class="title">State </div>
			<input type="text" name="state" id="newDonor_state" placeholder="State">
		</li>
		<li>
			<div class="title">Zip Code </div>
			<input type="text" name="zipCode" id="newDonor_ZipCode" placeholder="Zip Code">
		</li>
		<li>
			<input type="submit" id="submitButton" class="submit"></li>
		</ul>
</form>
