{% extends "base.html" %}
{% block content %}
  
 <ul class="button">
	 <form action="/see_all_donors" method="POST" class="volinputs">
	 <li class="button"><input type="submit" value="See All Donors" id="submitButton" class="submit"></li></form>

	 <form action="/see_all_levels" method="POST" class="volinputs">
	 <li class="button"><input type="submit" value = "See All Levels" id="submitButton" class="submit"></li></form>

	 <form action="/see_all_volunteers" method="POST" class="volinputs">
	 <li class="button"><input type="submit" value="See All Volunteers" id="submitButton" class="submit"></li></form>
</ul>

<h3 class="volunteer"> Add a new donor to the database </h3>
<form action="/add_new_donor" method="POST" class="volinputs">
	<ul class="inputs">
		<li class="inline" > <div class="bebas"> Donor ID </div> <input type="text" name="donorID" id="newDonor_DonorID" placeholder="Donor ID"></li>
		<li class="inline"> <div class="bebas">First Name </div> <input type="text" name="firstName" id="newDonor_FirstName" placeholder="First Name"></li>
		<li class="inline"> <div class="bebas">Last Name </div> <input type="text" name="lastName" id="newDonor_LastName" placeholder="Last Name"></li>
		<li class="inline"> <div class="bebas">Date of Birth </div> <input type="text" name="DOB" id="newDonor_DOB" placeholder="Date of Birth"></li>
		<li class="inline"> <div class="bebas">Gender </div> <input type="text" name="gender" id="newDonor_Gender" placeholder="Gender"></li>
		<li class="inline"> <div class="bebas"> Phone Number</div> <input type="text" name="phoneNum" id="newDonor_PhoneNum" placeholder="Phone Number"></li>
		<li class="inline"> <div class="bebas">Email Address</div> <input type="text" name="email" id="newDonor_Email" placeholder="Email Address"></li>
		<li class="inline"> <div class="bebas">Street Address </div> <input type="text" name="streetAddress" id="newDonor_StreetAddress" placeholder="Street Address"></li>
		<li class="inline"> <div class="bebas">City</div> <input type="text" name="city" id="newDonor_City" placeholder="City"></li>
		<li class="inline"> <div class="bebas">State </div> <input type="text" name="state" id="newDonor_state" placeholder="State"></li>
		<li class="inline"> <div class="bebas">Zip Code </div> <input type="text" name="zipCode" id="newDonor_ZipCode" placeholder="Zip Code"></li>
		<li class="inline"><input type="submit" id="submitButton" class="submit"></li>
		</ul>
</form>

<h3 class="volunteer"> Add a new volunteer to the database </h3>
<form action="/add_new_volunteer" method="POST" class="volinputs">
	<ul class="inputs">
		<li class="inline"> <div class="bebas">Volunteer ID </div><input type="text" name="volunteerID" id="newVolunteer_VolunteerID" placeholder="Volunteer ID"></li>
		<li class="inline"> <div class="bebas">First Name </div><input type="text" name="firstName" id="newVolunteer_FirstName" placeholder="First Name"></li>
		<li class="inline"> <div class="bebas">Last Name </div><input type="text" name="lastName" id="newVolunteer_LastName" placeholder="Last Name"></li>
		<li class="inline"> <div class="bebas">Date Of Birth</div><input type="text" name="DOB" id="newVolunteer_DOB" placeholder="Date of Birth"></li>
		<li class="inline"> <div class="bebas">Gender</div><input type="text" name="gender" id="newVolunteer_Gender" placeholder="Gender"></li>
		<li class="inline"> <div class="bebas">Phone Number</div><input type="text" name="phoneNum" id="newVolunteer_PhoneNum" placeholder="Phone Number"></li>
		<li class="inline"> <div class="bebas">Email Address</div><input type="text" name="email" id="newVolunteer_Email" placeholder="Email Address"></li>
		<li class="inline"> <div class="bebas">Street Address</div><input type="text" name="streetAddress" id="newVolunteer_StreetAddress" placeholder="Street Address"></li>
		<li class="inline"> <div class="bebas">City</div><input type="text" name="city" id="newVolunteer_city" placeholder="city"></li>
		<li class="inline"> <div class="bebas">State</div><input type="text" name="state" id="newVolunteer_state" placeholder="state"></li>
		<li class="inline"> <div class="bebas">Zip Code</div><input type="text" name="zipCode" id="newVolunteer_ZipCode" placeholder="Zip Code"></li>
		<li class="inline"><input type="submit" id="submitButton" class="submit"></li>
	</ul>
</form>

<h3 class="volunteer"> Add a new book donation to the inventory </h3>
<form action="/add_new_book" method="POST" class="volinputs">
	<ul class="inputs">
		<li class="inline"> <div class="bebas">ISBN</div><input type="text" name="isbn" id="new_book_Isbn" placeholder="ISBN"></li>
		<li class="inline"> <div class="bebas">Title</div><input type="text" name="title" id="new_book_Title" placeholder="Title"></li>
		<li class="inline"> <div class="bebas">Reading Level</div><input type="text" name="readingLevel" id="new_book_ReadingLevel" placeholder="Reading Level"></li>
		<li class="inline"> <div class="bebas">Genre</div><input type="text" name="genre" id="new_book_Genre" placeholder="Genre"></li>
		<li class="inline"> <div class="bebas">Book Status</div><input type="text" name="bookStatus" id="new_book_BookStatus" placeholder="Book Status"></li>
		<li class="inline"> <div class="bebas">Edition</div><input type="text" name="edition" id="new_book_Edition" placeholder="Edition"></li>
		<li class="inline"> <div class="bebas">Publisher</div><input type="text" name="publisher" id="new_book_Publisher" placeholder="Publisher"></li>
		<li class="inline"> <div class="bebas">Quantity</div><input type="text" name="quantity" id="new_book_quantity" placeholder="Quantity"></li>
		<li class="inline"> <div class="bebas">Author First Name</div><input type="text" name="author_fn" id="new_book_Author_fn" placeholder="Author First Name"></li>
		<li class="inline"> <div class="bebas">Author Last Name</div><input type="text" name="author_ln" id="new_book_Author_ln" placeholder="Author Last Name"></li>
		<li class="inline"> <div class="bebas">Donor ID</div><input type="text" name="donorID" id="new_book_DonorID" placeholder="Donor ID"></li>
		<li class="inline"> <div class="bebas">Date of Donation</div><input type="text" name="donationDate" id="new_book_DonationDate" placeholder="Date of Donation"></li>
		<li class="inline"><input type="submit" id="submitButton" class="submit"></li>
	</ul>
</form>

<h3 class="volunteer"> Add a new cash donation to the database </h3>
<form action="/add_new_cashDonation" method="POST" class="volinputs">
	<input type="text" name="donor" id="new_cashDonation_Donor" placeholder="Donor ID">
	<input type="text" name="amount" id="new_cashDonation_Amount" placeholder="Donation Amount">
	<input type="text" name="donationDate" id="new_cashDonation_DonationDate" placeholder="Date of Donation">
	<input type="submit" id="submitButton" >
</form>

<h3 class="volunteer"> Purchase a new book </h3>
<form action="/add_new_bookPurchase" method="POST" class="volinputs">
	<input type="text" name="volunteerID" id="new_bookPurchase_VolunteerID" placeholder="Volunteer ID">
	<input type="text" name="donationDate" id="new_bookPurchase_Date" placeholder="Date of Purchase">
	<input type="text" name="quantity" id="new_bookPurchase_Quantity" placeholder="Quantity">
	<input type="submit" id="submitButton" >
</form>

<h3 class="volunteer"> Add tokens </h3>
<form action="/addTokens" method="POST" class="volinputs">
	<input type="text" name="clientID" id="addTokenClientID" placeholder="clientID">
	<input type="text" name="tokenCount" id="addTokenTokenCount" placeholder="tokenCount">
	<input type="submit" id="submitButton" >
</form>

<h3 class="volunteer"> Add new reading level </h3>
<form action="/add_reading_level" method="POST" class="volinputs">
	<input type="text" name="reading_level" id="add_new_readinglevel" placeholder="Reading Level">
	<input type="submit" id="submitButton" >
</form>

<h3 class="volunteer"> Add new genre </h3>
<form action="/add_genre" method="POST" class="volinputs">
	<input type="text" name="genre" id="add_genre" placeholder="Genre">
	<input type="text" name="description" id="add_description" placeholder="Description">
	<input type="submit" id="submitButton" >
</form>


{% endblock %}